/* --- ポップアップ全体の調整 --- */
body {
	width : 280px;
}
input[type="range"] {
	width : 97%;
}


/* --- ミニプレイヤー関連 --- */
div.mini-player span {
	display     : block;
	white-space : nowrap;
	overflow-x  : hidden;
	cursor      : pointer;
}
div.mini-player img {
	width   : 14px;
	height  : 14px;
	padding : 5px;
}