/* --- ポップアップ全体の調整 --- */
body {
	width : 280px;
}
input[type="range"] {
	width : 97%;
}


/* --- 連続再生 --- */
button#start-autoplay {
	display : block;
	margin  : 1.25rem 0.1rem 0.5rem;
}


/* --- ミニプレイヤー関連 --- */
div.mini-player span {
	display     : block;
	white-space : nowrap;
	overflow-x  : hidden;
	cursor      : pointer;
}
div.mini-player img {
	width   : 14px;
	height  : 14px;
	padding : 5px;
	cursor  : pointer;
}
label[for^="ista-"] { user-select : none; }