/* --- アイテムのスタイル --- */
div.cmn_thumb_L {
	position : relative;
}
div.ista_cmn_player {
	position : absolute;
	padding  : 0.5rem;
	top      : 0px;
	left     : 0px;
}
div.ista_cmn_player > a {
	background-color : white;
}